@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Open+Sans+Condensed:wght@300&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&family=Noto+Serif:wght@400;700&family=Odibee+Sans&family=Open+Sans+Condensed:wght@300&family=Oswald&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Mulish', sans-serif; */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-main: #0a1920;
  --clr-bg-hover: #163241;
  --clr-a-border: hsla(0, 0%, 100%, 0.733);
  --clr-btn: rgba(0, 0, 0, 0);
  --clr-btn-hover: rgba(20, 20, 20, 0.397);
}

/* html {
  width: 100%;
  height: 100%;
} */

body {
  /* background: linear-gradient(#16222A, #3A6073), url(./images/robo-bg.jpg) ;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
  color: black;
  /* font-family: "Padauk", sans-serif; */
  
  /* position: relative; */
}

/* header .nav-bar {
    position: fixed;
    top: 0;
} */

/* .main-container {
  background: linear-gradient(45deg, #090F27, #7D9ED1, #FE83C2), url(./images/robo-bg.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: max-content;
  padding-bottom: 4rem;
} */

header main {
  letter-spacing: 2px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

main .landing-page{
  background: linear-gradient(45deg, #090F27, #7D9ED1, #FE83C2), url(./images/robo-bg.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: max-content;
  padding-bottom: 4rem;
  height: 100vh;

}

/* .upper-bar {
    display: flex;
    background-image: linear-gradient(#c33764, #1d2671);
    background-color: hsla(233, 49%, 7%, 0.719);
    padding: 0.45em 1em;
    margin-top: 0.5em 0;
    font-size: 1.45rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
} */
/* .main-logo > .fas {
    margin-right: 10px;
    color: rgba(29, 196, 247, 0.658);
    font-size: 1.45rem;
} */

.logo {
  font-size: 3.375rem;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  word-spacing: 1.25rem;
  font-family: "Odibee Sans", cursive;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}

.part-o {
  color: rgba(29, 196, 247, 0.658);
  font-weight: lighter;
}

button {
  /* background: url(/images/bg-clr.jpg); */
  background: var(--clr-btn);
  background-size: cover;
  border: transparent;
  font-size: 1.25rem;
  padding: 8px 45px;
  display: inline-block;
  border: 1px solid var(--clr-a-border);
  color: hsla(0, 0%, 100%, 0.733);
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  transition: 0.2s ease-in-out;
  transition-delay: 0ms;
  text-align: center;
}

a {
  text-decoration: none;
}

/* .join-button {
    height: 100%;
    font-size: 1.5rem;
} */

button:hover,
button:focus {
  background: var(--clr-btn-hover);
  color: white;
  border-color: white;
  /* #2c2b2b */
}

.nav-bar {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding: 0.45rem 2rem;
  justify-content: space-between;
  /* background-image: linear-gradient(#e96443, #904e95); */
  background-color: hsl(0, 3%, 77%);
  /* opacity: 0.85; */
  width: 100%;
  margin: auto;
  /* position: fixed;
    top: 0; */
  /* border-radius: 0 0 4px 4px; */
}

.main-navbar > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  letter-spacing: 3px;
  /* padding: 10px 0; */
  font-family: "Oswald", sans-serif;
}

.main-navbar > ul li > a {
  color: black;
  transition: 0.2s ease-in-out;
  position: relative;
}

.main-navbar > ul li > a::after {
    content: '';
    height: 4px;
    background-color: rgb(53, 51, 51);
    display: block;
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    transform: scale(0,1);
    transform-origin: left;
    transition: 0.3s ease-in-out;
}

.main-navbar > ul li > a:hover::after {
    transform: scale(1,1);
}

#home > a {
  color: rgb(14, 113, 143);
  transition: 0.2s ease-in-out;
}

.main-navbar > ul li > a:hover,
.main-navbar > ul li > a:focus,
#home > a:hover,
#home > a:focus {
  color: #5a5959;
}

.search-in > input {
  background: var(--clr-main);
  border: transparent;
  padding: 0.65rem;
  outline: none;
  font-size: 1.065rem;
  color: hsla(0, 0%, 100%, 0.925);
  border: 2px solid white;
  border-radius: 50px;
}

::placeholder {
  color: hsla(0, 0%, 100%, 0.925);
}

.two-btns {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: 0 4rem;
}

.main-title {
  padding: 8rem 4rem 2rem;
}

/* .main-title > h1 {
  margin-bottom: 20px;
  padding: 0.6rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.685);
  font-size: 2.55rem;
  min-width: 400px;
  color: white;
} */

.social-join {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: 1.5rem 0 2rem;
  /* justify-content: center; */
  align-items: center;
}

.social-handles {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.social-handles a {
  display: inline-block;
  width: 45px;
  height: 45px;
  /* text-align: center;
      line-height: 50px; */
  background: var(--clr-btn);
  color: var(--clr-a-border);
  border-radius: 50%;
  border: 1px solid var(--clr-a-border);
  /* display: block; */
  transition: 0.2s ease-in-out;
}

.social-handles > a i {
  line-height: 45px;
  width: 45px;
  text-align: center;
}

.social-handles a:hover {
  background-color: var(--clr-btn-hover);
  color: white;
  border-color: white;
}

.main-title .description {
  /* margin: 20px 0; */
  font-size: 1.375rem;
  letter-spacing: 2px;
  line-height: 1.5;
  max-width: 700px;
  color: white;
  margin: 1.75rem 0 0.25rem;
}

.main-title .slogan {
  color: hsl(0, 2%, 88%);
  font-size: 2rem;
  letter-spacing: 2px;
  word-spacing: 4px;
  line-height: 1.25;
  max-width: 700px;
  font-family: 'Lobster', cursive;
  margin-bottom: 0.75rem;
}

.main-title .img-slogan {
  position: absolute;
  /* left: 0; */
  top: 6.25em;
  right: 4em;
  width: 40%;
  /* border: 1px solid transparent; */
  opacity: 40%;
  background: linear-gradient(#16222a, #3a6073);
  background-blend-mode: lighten;
  /* background: transparent; */
}

.why-join-us {
  background: linear-gradient(#16222a, #3a6073), url(./images/robo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center center;
  background-blend-mode: multiply;
  /* opacity: 95%; */
}

.why-join {
  /* margin: 0 4rem 0; */
  /* width: 100%; */
  max-width: 700px;
  text-align: center;
  margin: auto;
  line-height: 1.45;
  padding: 4rem 0;
}

.why-join .join-us-ques {
  color: rgb(236, 233, 233);
  font-size: 2.225rem;
  line-height: 1.45;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
}

.why-join .join-ans {
  color: var(--clr-a-border);
  margin: 2rem 0 1rem;
  font-size: 1.35rem;
  letter-spacing: 1.5px;
  /* line-height: ; */
}

.why-join .join-ans .part-robo {
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(236, 233, 233);
  letter-spacing: 3px;
  border-bottom: 1px solid var(--clr-a-border);
}

.why-join .join-ans .fas {
  margin-right: 1rem;
}

.ask-ques {
  background-color: #232323;
}

.ask-ques .ask-us {
  max-width: 500px;
  text-align: center;
  margin: auto;
  line-height: 1.45;
  padding: 2rem 0;
}

.ask-ques .ask-us-ques {
  color: rgb(236, 233, 233);
  font-size: 2.225rem;
  line-height: 1.45;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
}